body {
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(119, 5, 132, 1) 0%, rgba(128, 35, 106, 1) 34%, rgba(35, 31, 59, 1) 74%, rgba(2, 0, 36, 1) 100%);
}

a {
    text-decoration: none;
}

/* Gallery . . • ☆ . ° .• °:. *₊ ° . ☆ */

#harry {
    background: url(../cats/image-2.jpg);
    background-size: cover;
    transition: ease-in-out;
}

#vegeta {
    background: url(../cats/image-3.jpg);
    background-size: cover;
    transition: ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#vegeta:hover {
    animation-name: spin;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#harry:hover {
    animation-name: spin;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#titlecat {
    color: #EADEDA;
    font-family: Jacquard;
    font-size: 60px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: inline-flex;
    margin-right: 10rem;
}

.catwrap {
    width: 100%;
    height: auto;
}

.cat {
    background: blue;
    width: 20rem;
    height: 20rem;
    display: inline-flex;
    border-radius: 165px;
    margin: 1%;
}

.galrow {
    margin-top: 2%;
    width: 100%;
    height: auto;
}

.galcell {
    border: dashed white 4px;
    width: 300px;
    height: 100px;
    display: inline-flex;
    margin: 1%;
}

.galcell h1 {
    margin: auto;
}

.galcell:hover {
    border: dashed cyan 4px;
}

.gallerylink {
    margin: auto;
    display: inline-flex;
}

#gallink1 {
    height: 200px;
    width: 100px;
    background: url(../media/Main-Still-dark-left.gif);
    background-repeat: no-repeat;
}

#gallink2 {
    height: 200px;
    width: 200px;
    background: url(../media/gallink.gif);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    position: absolute;
}

.gallinkwrap {
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
}

#showpopup {
    background-color: magenta;
    width: 90%;
    height: 12.5rem;
    text-align: center;
    padding-bottom: 10px;
    border: solid cyan 3px;
    margin: auto;
}

.textpop {
    font-family: JetBrains;
    color: #ffdd00;
    position: relative;
    font-size: 16px;
    margin: 0;
    padding: 1rem 0.5rem;
    line-height: 1.5;
}

.popbut {
    margin: 0.5rem;
    width: 150px;
    display: inline-flex;
    border: dashed 3px white;
    transition: ease 0.5s;
}

.popbut:hover {
    width: 155px;
    box-shadow: 10px 5px 5px white;
}

#poppop {
    margin: 0;
}

.gal {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.gal img {
    width: 100%;
}

/* FONTS . . • ☆ . ° .• °:. *₊ ° . ☆ */

@font-face {
    font-family: Jacquard;
    src: url(../media/Jacquard12-Regular.ttf);
}

@font-face {
    font-family: JetBrains;
    src: url(../media/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: JetBrainsI;
    src: url(../media/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

/* NAVIGATION . . • ☆ . ° .• °:. *₊ ° . ☆ */

.nav {
    background-color: #2E294E;
    width: 85%;
    height: 4rem;
    margin: 0 auto;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0 0 45px rgb(23, 23, 35);
    z-index: 7;
    position: relative;
}

#navgrid {
    text-align: center;
}

svg {
    margin: 2%;
    width: 50px;
    height: 50px;
    fill: rgba(2, 0, 36);
    transition: ease-in-out 0.5s;
}

svg:hover {
    fill: #D90368;
    animation: shake 0.5s;
    animation-iteration-count: inherit;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
}

/* MAIN . . • ☆ . ° .• °:. *₊ ° . ☆ */

#school {
    width: 50px;
}

#school01 {
    width: 85px;
}

#school02 {
    width: 65px;
}

.stars {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background-image: url(../stagepics/starsblock.png);
    z-index: 1;
    background-repeat: repeat-x;
}

.juice {
    position: relative;
    z-index: 3;
    width: 95%;
    height: 100vh;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: solid magenta 1px; */
}

.contain01 {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
}


#deets {
    position: relative;
    height: auto;
    width: 100%;
    /* border: solid yellow 1px; */
}

.galcard {
    display: block;
    width: 95%;
    margin: 0 auto;
    position: relative;
    height: auto;
    /* border: solid cyan 1px; */
}

#galtit {
    margin: 15px auto;
    width: 50%;
    position: relative;
    text-align: center;
    /* border: solid orange 1px; */
}

#skills {
    /* border: solid magenta 1px; */
    width: 100%;
    height: 50%;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skillscol {
    height: 100%;
    /* border: solid blue 1px; */
    padding: 0;
    list-style-type: none;
    flex-basis: 50%;
}

#skillscol:nth-child(odd) {
    direction: rtl;
}

#skillscol02 {
    width: 30%;
    height: 100%;
    position: relative;
    /* border: solid blue 1px; */
    margin: auto;
    padding: 0;
    text-align: center;
}

#skillscol04 {
    width: 20%;
    height: 100%;
    position: relative;
    /* border: solid blue 1px; */
    margin: auto;
    padding: 0;
    text-wrap: wrap;
    text-align: center;
}

#skillscol03 {
    text-align: left;
}

/* Floating Credit: https: //www.geeksforgeeks.org/css-floating-animation/ */

#title {
    color: #EADEDA;
    font-family: Jacquard;
    font-size: 30px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 0 auto;
}

#title02 {
    color: #EADEDA;
    font-family: Jacquard;
    font-size: 60px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 0;
}

#title02:hover {
    color: cyan;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#subtext {
    font-family: JetBrainsI;
    color: #FFD400;
    position: relative;
    font-size: 20px;
    letter-spacing: .05em;
}

#subtext02 {
    font-family: JetBrainsI;
    color: #FFD400;
    position: relative;
    font-size: 12px;
}

#subtext03 {
    font-family: JetBrainsI;
    color: #FFD400;
    position: relative;
    font-size: 10px;
}

.text {
    font-family: JetBrains;
    color: #EADEDA;
    position: relative;
    font-size: 16px;
    margin: 0;
    padding: 1rem 0.5rem;
    line-height: 1.5;
}

#text03 {
    font-family: JetBrains;
    color: #EADEDA;
    position: relative;
    font-size: 10px;
}

.textli {
    font-family: JetBrains;
    color: #EADEDA;
    position: relative;
    font-size: 12px;
    margin: 5px;
    line-height: 1.5;
}

#text02 {
    font-family: JetBrains;
    color: #D90368;
    position: relative;
    font-size: 16px;
}

#text04 {
    font-family: JetBrains;
    color: #D90368;
    position: relative;
    font-size: 14px;
}

#dergan {
    height: 25rem;
    position: relative;
    display: block;
    margin: auto;
}

#boost {
    height: 40rem;
    width: 100%;
    margin: 0;
}



/* STAGE CSS . . • ☆ . ° .• °:. *₊ ° . ☆ */

.stage {
    pointer-events: none;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: 3;
}

#background01 {
    pointer-events: none;
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: url(../stagepics/bg04.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 6rem;
    margin: 0;
    bottom: 160px;
}

#background02 {
    pointer-events: none;
    margin: 0;
    background-image: url(../stagepics/bg01.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 6rem;
    bottom: 140px;
}

#background03 {
    pointer-events: none;
    margin: 0;
    background-image: url(../stagepics/bg02.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 5rem;
    bottom: 130px;
}


#background04 {
    pointer-events: none;
    margin: 0;
    background-image: url(../stagepics/mountains05porti.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 3rem;
    bottom: 120px;
}

#background05 {
    pointer-events: none;
    margin: -30px 0 0 0;
    background-image: url(../stagepics/mountains03porti.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 5rem;
    bottom: 120px;
}

#track {
    pointer-events: none;
    background: linear-gradient(0deg, rgba(10, 21, 56, 1) 0%, rgba(79, 51, 184, 1) 18%, rgba(149, 86, 233, 1) 42%, rgba(82, 116, 226, 1) 70%, rgba(10, 21, 56, 1) 100%, rgba(66, 96, 193, 1) 100%);
    width: 100%;
    height: 8rem;
    position: absolute;
    bottom: 0;
}

#background07 {
    pointer-events: none;
    margin: 0;
    background-image: url(../stagepics/mountains04porti.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 6rem;
    bottom: 10px;
}

#background08 {
    pointer-events: none;
    margin: 0;
    background-image: url(../stagepics/mountainsporti.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 3rem;
    bottom: 5px;
}

#background09 {
    pointer-events: none;
    margin: 0;
    background-image: url(../stagepics/mountains06porti.png);
    background-size: contain;
    width: 100%;
    position: fixed;
    height: 2rem;
    bottom: 0;
}