@media screen and (min-width: 1000px) {

    /* NAVIGATION . . • ☆ . ° .• °: . *₊ ° . ☆ */
    .nav {
        background-color: #2E294E;
        width: 20rem;
        height: 5rem;
        margin: 0 auto;
        border-radius: 0px 0px 40px 40px;
        box-shadow: 0 0 45px rgb(23, 23, 35);
        z-index: 7;
        position: relative;
    }

    svg {
        width: 3rem;
        height: 3rem;
        margin: 15px 0 0 10px;
        fill: rgba(2, 0, 36);
        transition: ease-in-out 0.5s;
    }

    .stars {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 75vw;
        background-image: url(../stagepics/starsblock.png);
        z-index: 1;
    }

    /* MAIN . . • ☆ . ° .• °: . *₊ ° . ☆ */

    #titlecard {
        position: relative;
        height: auto;
        width: 30%;
        top: 0;
    }

    #title {
        color: #EADEDA;
        font-family: Jacquard;
        font-size: 90px;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin: 0 auto;
    }

    #title02 {
        color: #EADEDA;
        font-family: Jacquard;
        font-size: 90px;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin: auto auto auto 2rem;
    }

    /* SCENE . . • ☆ . ° .• °: . *₊ ° . ☆ */

    .stage {
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 40%;
    }


    #background09 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountains06porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 30%;
        bottom: 0;
    }

    #background08 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountainsporti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 20%;
        bottom: 50px;
    }

    #background07 {
        margin: -14rem 0 0 0;
        background-image: url(../stagepics/mountains04porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 50%;
        bottom: 40px;
    }

    #track {
        background: linear-gradient(0deg, rgba(10, 21, 56, 1) 0%, rgba(79, 51, 184, 1) 18%, rgba(149, 86, 233, 1) 42%, rgba(82, 116, 226, 1) 70%, rgba(10, 21, 56, 1) 100%, rgba(66, 96, 193, 1) 100%);
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 70px;
    }

    #background05 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountains03porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 12%;
        top: 80px;
    }

    #background04 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountains05porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 12%;
        top: 90px;
    }

    #background03 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/bg02.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 18%;
        top: 80px;
    }

    #background02 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/bg01.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 18%;
        top: 50px;
    }
}

@media screen and (min-width: 1500px) {

    /* NAVIGATION . . • ☆ . ° .• °: . *₊ ° . ☆ */
    .nav {
        background-color: #2E294E;
        width: 20rem;
        height: 5rem;
        margin: 0 auto;
        border-radius: 0px 0px 40px 40px;
        box-shadow: 0 0 45px rgb(23, 23, 35);
        z-index: 7;
        position: relative;
    }

    svg {
        width: 3rem;
        height: 3rem;
        margin: 15px 0 0 10px;
        fill: rgba(2, 0, 36);
        transition: ease-in-out 0.5s;
    }

    .stars {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 75vw;
        background-image: url(../stagepics/starsblock.png);
        z-index: 1;
    }

    /* MAIN . . • ☆ . ° .• °: . *₊ ° . ☆ */

    #titlecard {
        position: relative;
        height: auto;
        width: 30%;
        top: 0;
    }

    #title {
        color: #EADEDA;
        font-family: Jacquard;
        font-size: 90px;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin: 0 auto;
    }

    #title02 {
        color: #EADEDA;
        font-family: Jacquard;
        font-size: 90px;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin: auto auto auto 2rem;
    }

    /* SCENE . . • ☆ . ° .• °: . *₊ ° . ☆ */

    .stage {
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 40%;
    }


    #background09 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountains06porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 30%;
        bottom: 0;
    }

    #background08 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountainsporti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 20%;
        bottom: 50px;
    }

    #background07 {
        margin: -14rem 0 0 0;
        background-image: url(../stagepics/mountains04porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 50%;
        bottom: 40px;
    }

    #track {
        background: linear-gradient(0deg, rgba(10, 21, 56, 1) 0%, rgba(79, 51, 184, 1) 18%, rgba(149, 86, 233, 1) 42%, rgba(82, 116, 226, 1) 70%, rgba(10, 21, 56, 1) 100%, rgba(66, 96, 193, 1) 100%);
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 90px;
    }

    #background05 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountains03porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 12%;
        top: 115px;
    }

    #background04 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/mountains05porti.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 12%;
        top: 115px;
    }

    #background03 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/bg02.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 18%;
        top: 100px;
    }

    #background02 {
        margin: 0 0 0 0;
        background-image: url(../stagepics/bg01.png);
        background-size: contain;
        width: 100%;
        position: absolute;
        height: 18%;
        top: 70px;
    }
}